.switch {
    position: relative; width: 50px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.switch-checkbox {
    display: none;
}
.switch-label {
    display: block; overflow: hidden; cursor: pointer;
    /*border: 2px solid #999999; border-radius: 50px;*/
}
.switch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.1s ease-in 0s;
}
.switch-inner:before, .switch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 9px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #79BB3B; color: #FFFFFF;
}
.switch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #A7A7A7; color: #FFFFFF;
    text-align: right;
}
.switch-switch {
    display: block; width: 16px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 26px;
    /*border: 2px solid #79BB3B; border-radius: 50px;*/
    transition: all 0.1s ease-in 0s; 
}
.switch-checkbox:checked + .switch-label .switch-inner {
    margin-left: 0;
}
.switch-checkbox:checked + .switch-label .switch-switch {
    right: 0px; 
}
.switch-checkbox:checked {
    border-color: #79BB3B;
}
