/********** Bootstrap Primary Change **********/
.bg-primary {
  background-color: #222222 !important;
}

.btn-primary {
  color: #FFFFFF !important;
  border-color: #222222 !important;
  background-color: #222222 !important;
}

.btn-primary:hover {
  color: #FFFFFF !important;
  border-color: #444444 !important;
  background-color: #444444 !important;
}

.panel-primary {
  border-color: #222222 !important;
}

.panel-primary > .panel-heading {
  color: #FFFFFF !important;
  border-color: #222222 !important;
  background-color: #222222 !important;
}
/**********************************************/

body { 
  font-family: 'Open Sans', sans-serif !important;
}

.checkbox:hover {
  background: #DDDDDD;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.toHigh td {
  background-color: rgba(0, 255, 0, 0.65);
  font-weight: bold;
}
.toGood td {
  background-color: rgba(255, 255, 0, 0.65);
  font-weight: bold;
}
.toAverage td {
  background-color: rgba(255, 140, 0, 0.65);
  font-weight: bold;
}
.toLow td {
  background-color: rgba(255, 0, 0, 0.65);
  font-weight: bold;
}
.toNone td {
  background-color: rgba(160, 160, 160, 0.65);
  font-weight: bold;
}

.bl td {
  border: 2px solid #FF0000 !important;
}

.il td {
  border: 2px solid #009900 !important;
}

.nl_hidden, .bl_hidden, .m_hidden {
  display: none;
}

a:link {
  color : #224f77;
}

a:visited {
  color: #551A8B; 
}

.export_hit, .rt_block, .rt_include {
  cursor: pointer;
}

div.tooltip-inner {
    max-width: 50vw;
}

.btn.btn-default.active {
  overflow: hidden;
  width: calc(100% - 42px)
}

.btn-group.btn-group-sm {
  width: 100%;
}

select {
  width: 100%;
  height: 30px;
}

.panel, .panel-top {
  margin-bottom: 5px !important;
}

.panel-heading {
  padding: 5px 15px !important;
}

.table-extra-condensed > tbody > tr > th,
.table-extra-condensed > tfoot > tr > th,
.table-extra-condensed > thead > tr > th {
  padding: 0px 2px !important;
}

.table-extra-condensed > tbody > tr > td,
.table-extra-condensed > tfoot > tr > td,
.table-extra-condensed > thead > tr > td {
  padding: 1px 2px !important;
}

.btn-group-xxs > .btn,
.btn-xxs {
  padding: 1px 2px !important;
  font-size: 12px !important;
  line-height: 1.4 !important;
  border-radius: 3px !important;
}

.panel-heading.toggle {
  cursor: pointer;
}
