.checkbox:hover {
  background: #DDDDDD;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.toHigh td {
  background-color: rgba(0, 255, 0, 0.65);
  font-weight: bold;
}
.toGood td {
  background-color: rgba(255, 255, 0, 0.65);
  font-weight: bold;
}
.toAverage td {
  background-color: rgba(255, 140, 0, 0.65);
  font-weight: bold;
}
.toLow td {
  background-color: rgba(255, 0, 0, 0.65);
  font-weight: bold;
}
.toNone td {
  background-color: rgba(160, 160, 160, 0.65);
  font-weight: bold;
}

.bl td {
  border: 2px solid #FF0000 !important;
}

.il td {
  border: 2px solid #009900 !important;
}

.nl_hidden, .bl_hidden, .m_hidden {
  display: none;
}

a:link, a:visited {
  color : #224f77;
}

.vb, .vb_th, .vb_mtc {
  cursor: pointer;
}

div.tooltip-inner {
    max-width: 50vw;
}